body{
			font-size: 12px;
			color: gray;
			font-family: Arial;
			line-height: 2em;	 
		}
		.style{
			color: #b9f605;
			font-weight: bold;
			font-size: 14px;
		}
		a{
			color: #727272;
			text-decoration: none;
		}
		a:hover{
			text-decoration: underline;
		}

		.style a:hover{
			color: #b9f605;
			text-decoration: none;
		}
		.green{
			color:white;
		}
		.orange{
			color: #fdb306;
		}
		.shou{
			color:#b9f605; 
		}
		.ha{
			font-size: 20px;
			font-family: 微软雅黑；
			color:#686868;
			font-weight: normal;
		}
		.hb{
			font-family: Arial;
			font-size: 12px;
			color: #a9a8a8;

		}
		.hc{
			color: #22a3d3;
		}
		.hd{
			text-indent: 2em;
		}
		ul{
			list-style-type: square;
		}
		.a{
			background-color: #cfcfcf;
		}